@import "tailwindcss";

@theme {
  --color-background: #fdfaf6;
  --color-foreground: #3b352e;
  --color-primary: #3b352e;
  --color-primary-foreground: #fdfaf6;
  --color-secondary: #fdfaf6;
  --color-secondary-foreground: #3b352e;
  --color-muted: #e6dcd5;
  --color-muted-foreground: #fffee4;
  --color-border: #e6dcd5;
  --color-accent: #574a45;

  --font-sans: var(--font-outfit), sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}